<app-navbar></app-navbar>

<div class="container">
  <div class="forget-password-container">
    <h2>Forgot Password</h2>
    <form [formGroup]="registerform" (ngSubmit)="onSubmit()" #form="ngForm">
      
      <!-- Email Field -->
      <div class="mb-3">
        <label for="email" class="form-label">Email*</label>
        <input
          type="email"
          id="email"
          formControlName="email"
          class="form-control"
          placeholder="Enter your email"
          (keydown)="preventSpace($event)"
        />
        <div *ngIf="registerform.controls['email'].invalid && registerform.controls['email'].touched" class="text-danger small">
          <div *ngIf="registerform.controls['email'].hasError('required')">*Email is required</div>
          <div *ngIf="registerform.controls['email'].hasError('email')">*Enter a valid email address</div>
        </div>
      </div>

      <!-- Submit Button -->
      <button type="submit" [disabled]="registerform.invalid">Submit</button>
    </form>
  </div>
</div>

<app-footer></app-footer>
